EXPO_PUBLIC_API_BASE_URL=http://127.0.0.1:8081
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyDIlxPHbQnuQpKy0S9SOuiXxla7r6LE6WA
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=straight-wire-electric.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=straight-wire-electric
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=straight-wire-electric.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=989475635196
EXPO_PUBLIC_FIREBASE_APP_ID=1:989475635196:web:3eb3eed7d653356178bc79
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=989475635196-l68ilcjt4bsd76ndruhb4anj7foj8soo.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=989475635196-f82ulsqecqqojld8dktiqsumr5cdunk2.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=989475635196-66dbffrkr5t10attqicu19kl68qs59vt.apps.googleusercontent.com
EXPO_PUBLIC_EAS_PROJECT_ID=
